.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.vscode/launch.json
.webpack_cache

**/*-lock.*
**/*.lock
**/node_modules
**/dist
**/target

**/tmp
**/dll

!.env.example
